/* General Styling */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.app {
  text-align: center;
}

.logo {
  margin: 20px auto;
  width: 150px;
  display: block;
}

.navbar {
  margin-top: 20px;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.nav-item {
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.hero-section {
  padding: 40px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.website-name {
  font-size: 36px;
  margin-bottom: 10px;
}

.website-tagline {
  font-size: 20px;
  margin-bottom: 20px;
}


.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  background-color: #fff;
  color: #000; 
}

input[type="text"]::placeholder {
  color: #999;
}

button.search-button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  background-color: #007bff; 
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

button.search-button:hover {
  background-color: #0056b3; /* Button hover effect */
}

.trending-section, .kdrama-section, .series-section {
  padding: 20px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie-item {
  margin-bottom: 15px;
}

.movie-thumbnail {
  width: 120px; 
  height: auto;
  margin: 10px;
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
}

.movie-title {
  font-weight: bold; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.movie-year {
  font-weight: bold; 
  font-family: unset;
}

.footer {
  margin-top: 40px;
  padding: 10px 0;
  background-color: #434844;
  color: #fff;
  text-align: center;
}

.footer-content {
  text-align: center;
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 20px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-to-top:hover {
  background-color: #0056b3;
}

/* Video Styling */
.video-container {
  position: relative;
  z-index: -1;
}

.background-video {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
}
